{% extends 'base.html' %}




{% block content %}


<h1>Add Income</h1>
<div class="container mt-8">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item active m-2" aria-current="page"><a href="#">Add Income</a></li>

        </ol>
    </nav>



        <div class="card mt-5">
    <form action="{% url 'add-income' %}" method="post">
        {% csrf_token %}
        {% include 'partials/messages.html' %}
            <div class="card-body">
                <div class="form-group m-3">
                    <label for="">Amount</label>
                    <input type="number" class=" form-control form-control-sm" name="amount" value="{{values.amount}}"> 
                </div>

                <div class="form-group m-3">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">
                </div>

                <div class="form-group m-3">
                    <label for="">Sources</label>
                    <select class="form-control" name="source" id="">
                        {% for source in sources %}

                        <option value={{source.name}} name="source" >{{source.name}}</option>

                        {% endfor %}
                    </select>
                </div>

                <div class="form-group m-3">
                    <label for="">Date of Income</label>
                    <input type="date" class=" form-control form-control-sm" name="income_date">
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm m-2">
        </form>

        </div>



</div>


{% endblock %}