{% extends 'base.html' %}




{% block content %}


<h1>Edit Income</h1>
<div class="container mt-8   ">

    <div class="row">
        <div class="col-md-10"></div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item link-light"><a href="{% url 'income' %}">Income</a></li>
                <li class="breadcrumb-item active m-2" aria-current="page"><a href="#">Edit Income</a></li>

            </ol>

        </nav>

    </div>



    <div class="col-md-2">
        <a href="{% url 'income-delete' income.id %}" class="btn btn-danger btn-lg" >Delete</a>
    </div>
        <div class="card mt-5">
    <form action="{% url 'income-edit' income.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/messages.html' %}
            <div class="card-body">
                <div class="form-group m-3">
                    <label for="">Amount</label>
                    <input type="number" class=" form-control form-control-sm" name="amount" value="{{values.amount}}"> 
                </div>

                <div class="form-group m-3">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">
                </div>

                <div class="form-group m-3">
                    <label for="">Source</label>
                    <select class="form-control" name="source" id="">
                        <option selected value={{values.source}} name="category" >{{values.source}}</option>
                        {% for source in sources %}

                        <option value={{source.name}} name="source" >{{source.name}}</option>

                        {% endfor %}
                    </select>
                </div>

                <div class="form-group m-3">
                    <label for="">Date of Income</label>
                    <input  value="{{values.date | date:'Y-m-d' }}" type="date" class=" form-control form-control-sm" name="income_date">
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-primary-sm m-2">
        </form>

        </div>



</div>


{% endblock %}