{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}
<div class="row" style="margin-top: 50px;">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">


        <div class="card-body">
            <div class="card-title">
                <h1>Login to your account</h1>
                </div>



        <form action="{% url 'login' %}" method="POST">

          {% csrf_token %}
          {% include 'partials/messages.html' %}
            <div class="form-group">
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  id="usernameField"  # add event handler to check when a user starts typing
                  class="form-control form-control-sm py-2 m-2"
                  value = "{{fieldValues.username}}"
                />
              </div>



          <!-- </div> -->
          <!-- <p class="text-sm text-success emailSuccessOutput"></p> -->

          <div class="form-group">
            <input
              type="password"
              name="password"
              id="passwordField"
              placeholder="Password"
              class="form-control form-control-sm  py-2 m-2"
            />

          </div>
          <input type="submit" value="Login" class=" submit-btn btn btn-block btn-primary  py-2 mt-2 "/>
        </form>
        <div class="container">
          <span class="text-lead lead">Don't have an Account? </span><a href="{% url 'register' %}">Register</a>
          <br>
          <span class="text-lead lead">Forgot Password </span><a href="{% url 'request-password' %}">Reset Password</a>
      
        </div>
    </div>

  

</div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


<script src="{% static 'js/register.js' %}" ></script>
{% endblock content %}
