{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}
<div class="row" style="margin-top: 50px;">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">


        <div class="card-body">
            <div class="card-title">
                <h1>Enter your email to get the reset link</h1>
                </div>



        <form action="{% url 'request-password' %}" method="POST">

          {% csrf_token %}
          {% include 'partials/messages.html' %}

          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              id="emailField"
              class="form-control form-control-sm  py-2 m-2"
              value = "{{values.email}}"
            />
          </div>

          <div class="emailFeedBackArea invalid-feedback" style="display:none">

          </div>


          <input type="submit" value="Submit" class=" submit-btn btn btn-block btn-primary  py-2 mt-2 "/>
        </form>
    </div>
    <div class="container">
      <span class="text-lead lead">Have an Account? </span><a href="{% url 'login' %}">Login</a>
      <br>
      <span class="text-lead lead">Don't have an account? </span><a href="{% url 'register' %}">Register</a>
  
    </div>
    </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


<script src="{% static 'js/register.js' %}" ></script>
{% endblock content %}
